/* HEADER */

#header {
    background-color: var(--Amarillo);
    margin: 0px;
    padding: 1rem;
}

#logo {
/*     max-width: 250px;
    min-width: 150px;
 */

    margin: 0;
}

#logo-y-busqueda {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#busqueda {
    width: 50%;
}

img.banner {
    width: 100vw;
}

fieldset {
    border:none;
    margin-left: 1rem;
    padding: 0.5rem 0.5rem 0.5rem;
    display: flex;
    background-color: white;
    border-radius: 0.5rem;
    align-self: center;
    justify-content: space-between;
}

input {
    background-color: white;
    width: 90%;
    border: none;
    height: 2rem;
}

.comentario-busqueda {
    display: block;
    flex-wrap: wrap;

}

.fa-magnifying-glass {
    width: 10%;;
    background-color: white;
    padding:0.1em;
    border: solid var(--Gris-oscuro) 1px;
    border-radius: 11%;

}

#busqueda i{
    display: inline;
    width: auto;
    border: none;
    align-self: center;
}

.comentario-busqueda {
    font-size: 0.7rem;
    text-align: center;
    margin: 0.5rem 0 0.5rem;
}

/* #logo-y-busqueda {
    display: flex;
    flex-direction: row;
} */

#burger-menu {
    display: inline-flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-top: 0.5rem;
}

#burger-menu i {
    background-color: var(--Celeste);
    color: var(--Gris-claro);
    padding: 0.5rem;
    border-radius: 17%;
}


ul {
    padding-left: 0;
}

li {
    list-style: none;
}

.site {
    display: none;
}

.login-navbar {
    display:none;
}

span {
    font-size: 1rem;
}


a {
    text-decoration: none;
    color: black;
    width: 50%;
}

