@media only screen and (min-width: 1080px) {

    #footer div.foot-cards{
        width: 100%;
        display: flex;
        justify-content: space-around;
        padding: 0 10% 0;
    }

    #footer div.foot-cards article {
        width: auto ;
        padding: 0;
        margin: 3em 1em 1em
    }

}