<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Mercado Liebre</title>

    <!-- stylesheets -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">

    <!-- icons -->
</head>

<body>

    <section id="header">
        <!-- TODO: investigar atributo srcset -->
        <img id="logo" src="images/logo-mercado-liebre.svg" alt="logo">
        <!-- Barra de busqueda -->
        <div id="busqueda">Barra de busqueda</div>
        <p>Comprá en cuotas y sin tarjeta de crédito</p>

        <!-- Navegacion -->
        <nav>
            <ul>
                <li>Ofertas</li>
                <li>Tiendas oficiales</li>
                <li>Vender</li>
                <li>Ayuda</li>
            </ul>

            <ul>
                <li>Creá tu cuenta</li>
                <li>Ingresá</li>
                <li>Mis compras</li>
            </ul>
        </nav>

    </section>

    <section id="main">

        <section class="basado-en-ultima-visita">
            <h2>Basado en tu última visita</h2>
            <article>
                <img src="images/img-cafetera-moulinex.jpg" alt="cafetera-moulinex.jpg">
                <p class="price">$6.770</p>
                <p class="discount">40% OFF</p>
                <h3>Cafetera Moulinex</h3>
            </article>
            <article>
                <img src="images/img-macbook-pro-2019.jpg" alt="img-macbook-pro-2019.jpg">
                <p class="price">$230.000</p>
                <p class="discount">20% OFF</p>
                <h3>MacBook Pro 2019</h3>
            </article>
            <article>
                <img src="images/img-samsung-galaxy-s10.jpg" alt="img-samsung-galaxy-s10.jpg">
                <p class="price">$70.500</p>
                <p class="discount">10% OFF</p>
                <h3>Samsung Galaxy S10</h3>
            </article>
            <article>
                <img src="images/img-tv-samsung-smart.jpg" alt="img-tv-samsung-smart.jpg">
                <p class="price">$23.200</p>
                <p class="discount">5% OFF</p>
                <h3>SmartTv Samsung 43"</h3>
            </article>
        </section>

        <section class="ofertas">
            <h2>Ofertas</h2>
            <article>
                <img src="images/img-cafetera-moulinex.jpg" alt="cafetera-moulinex.jpg">
                <p class="price">$6.770</p>
                <p class="discount">40% OFF</p>
                <h3>Cafetera Moulinex</h3>
            </article>
            <article>
                <img src="images/img-macbook-pro-2019.jpg" alt="img-macbook-pro-2019.jpg">
                <p class="price">$230.000</p>
                <p class="discount">20% OFF</p>
                <h3>MacBook Pro 2019</h3>
            </article>
            <article>
                <img src="images/img-samsung-galaxy-s10.jpg" alt="img-samsung-galaxy-s10.jpg">
                <p class="price">$70.500</p>
                <p class="discount">10% OFF</p>
                <h3>Samsung Galaxy S10</h3>
            </article>
            <article>
                <img src="images/img-tv-samsung-smart.jpg" alt="img-tv-samsung-smart.jpg">
                <p class="price">$23.200</p>
                <p class="discount">5% OFF</p>
                <h3>SmartTv Samsung 43"</h3>
            </article>
        </section>
    </section>

    <section id="footer">

        <section>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es
                seguro!</p>
        </section>

        <section>
            <h4>Envío gratis desde $ 2.500</h4>
            <p>Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de
                Mercado Puntos.</p>
        </section>

        <section>
            <h4>Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre,no hay nada que no puedas hacer, porque estás siempre
                protegido</p>
        </section>

        <section>
            <h4>Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
        </section>

    </section>

</body>

</html>