:root{
    /* colors */
    --Amarillo: #EAC926;
    --Azul: #03264C;
    --Celeste: #1259c3;
    --Gris-oscuro: #666;
    --Gris-claro: #ebebeb;
    --Verde: #39b54a;
    
    /* font-family */
    --font-family-1: 'Roboto', sans-serif;
    --font-color: black;

    /* limites de media query */
    --tablet:360px;
    --desktop:769px;
}

* {
    box-sizing: border-box;
}

html {
    width: 100vw;
}

/* general */

body {
    /* font */
    font-family: var(--font-family-1);
    color: var(--font-color); 
    font-weight: 300;

    /* background */

    /* layout */
    margin: 0px;
    width: 100vw;
}

h2 {
    font-size:24px;
}

p {
    font-size:12px;
}

p.price {
    font-size:18px;
}

p.discount {
    font-size:16px;
}

/* Header */

#header {
    background-color: var(--Amarillo);
    margin: 0px;
}

#logo {
    max-width: 9rem;
    margin: 1rem;
}

#burger-menu i {
    background-color: var(--Celeste);
    color: var(--Gris-claro);
    padding: 0.5rem;
    border-radius: 17%;
}

#burger-menu {
    display: inline-flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

ul {
    padding-left: 0;
}

li {
    list-style: none;
}

#links li * {
    display: inline;
}

/* main */

#main {
    background-color: var(--Gris-claro);
}


#main div.products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


div.products article {
    background-color: white;
    max-width: 85vw;
    min-width: 160px;
    margin: 0 1rem 1rem;
    padding: 1%;
}

section h2 {
    text-align: center;
}


#main h3 {
    font-size:16px;
}

img {
    width:100%;
}

/* footer */

#footer {
    background-color: white;
    width: 100%;
    color: var(--Gris-oscuro);
    /* padding: 0 15% 0; */
}

#footer article {
    text-align: center;
    margin: 3em 15% 0;
}

#footer article h4,p {
    margin : 0 3px 0;
}

#footer i {
    color: var(--Celeste);
    font-size: 2em;
    margin-bottom: 10px;
}

#footer article.Copyright{
    margin: 3em 5% 1em;
    width: 100%;
    text-align: start;
    font-size: 0.8rem;
}



