
/* general */

:root {
    /* colors */
    --Amarillo: #EAC926;
    --Azul: #03264C;
    --Celeste: #1259c3;
    --Gris-oscuro: #666;
    --Gris-claro: #ebebeb;
    --Verde: #39b54a;

    /* font-family */
    --font-family-1: 'Roboto', sans-serif;
    --font-color: black;

    /* limites de media query */
    --tablet: 360px;
    --desktop: 769px;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    background-color: var(--Gris-claro);
}

body {
    /* font */
    font-family: var(--font-family-1);
    color: var(--font-color); 
    font-weight: 300;

    /* background */

    /* layout */
    margin: 0px;
    width: 100vw;
}

/* media estate indicator */

#media-state {
    background-color: rgba(128, 128, 128, 0.426);
    position: fixed;
    top: 0;
    right: 0;
    padding: 0;
    z-index: 10;
    display:none !important;
}

#media-state p {
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
}

#media-state p.mobile {
    background-color: rgba(255, 0, 0, 0.5);
}

@media only screen and (min-width: 720px) and (max-width:1080px){
    #media-state p {
        background-color: transparent !important;
    }

    #media-state p.tablet {
        background-color: rgba(255, 0, 0, 0.5) !important;
    }
}

@media only screen and (min-width: 1080px) {
    
    #media-state p {
        background-color: transparent !important;
    }

    #media-state p.desktop {
        background-color: rgba(255, 0, 0, 0.5) !important;
    }
}




